@import "../../scss/vars";

.sideNav {
  @media all and (max-width: 768px) and (min-width: 576px) {
    grid-row: 1;
  }
  @media all and (max-width: 575px) {
    transition: all 300ms;
    position: fixed;
    top: 0;
    bottom: 0;
    background: $color;
    width: 70vw;
    transform: translateX(-100%);
  }
}

.trigger {
  font-size: 3em;
  position: absolute;
  top: 72px;
  left: 70vw;
  padding: 1px 5px 5px 4px;
  background-color: $color;
  box-shadow: 3px 1px 10px -4px #000;
  z-index: -1;
  line-height: 0.9em;
  color: #fff;
  transition: 0.2s all;
}

.inner {
  @media all and (min-width: 769px) {
    padding-top: 2rem;
    &.fixed {
      position: fixed;
      top: 0;
      right: 0;
    }
  }
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  @media all and (max-width: 768px) and (min-width: 576px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // align-items: center;
  }
  @media all and (max-width: 768px) and (min-width: 576px) {
    background-color: lighten($color, 50%);
    padding: 0.2em;
  }
  @media all and (max-width: 575px) {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.item {
  margin: 0;
  @media all and (min-width: 769px) {
    margin-bottom: 0.2em;
    line-height: 1em;
  }
  @media all and (max-width: 575px) {
    flex: 1;
    border-bottom: 1px solid darken($color, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.link {
  color: $color;
  display: block;
  @media all and (max-width: 768px) and (min-width: 576px) {
    padding: 0 0.8em;
  }
  @media all and (min-width: 769px) {
    padding: 0.6em 1em;
    padding-left: calc(1em - 2px);
    border-left: 2px solid transparent;
    &:hover {
      border-color: $color;
      text-decoration: none;
    }
  }
  @media all and (max-width: 575px) {
    color: white;
    padding: 1em;
    font-size: 1.5em;
  }
}

.active {
  @media all and (max-width: 768px) and (min-width: 576px) {
    background-color: $color;
    color: white;
  }
  @media all and (min-width: 769px) {
    border-color: $color;
  }
}

@media all and (max-width: 1199px) {
}
@media all and (max-width: 991px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 575px) {
}
