@import "../../scss/vars";

.bgcolor {
  background-color: $primary5;
}

.alert {
  text-align: center;
  background-color: $primary;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) inset;
  padding: 1em;
  color: $white;
  @media all and (max-width: 1199px) {
    padding: 1em;
  }
}

.title {
  color: $dark;
  margin: 0;
  border: none;
}
