@import "../../scss/vars";

.bgcolor {
  background-color: $dark;
}

.header {
  display: grid;
  align-items: center;
  @media all and (max-width: 1199px) {
    padding: 0 1em;
  }
  @media all and (min-width: 769px) {
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
  }
  @media all and (max-width: 768px) {
  }
}

.headerMobile {
  @media all and (max-width: 768px) {
    padding: 1em 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}

@media all and (max-width: 1199px) {
}
@media all and (max-width: 991px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 575px) {
}
