@import "../../scss/vars";

.footer {
  background-color: $dark;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5em;
  align-items: center;
  color: $white;
  padding: 1em 0;
  @media all and (max-width: 1199px) {
    padding: 1em;
  }
}

.copy {
  margin: 0;
}
