.tags {
  @media all and (max-width: 1199px) {
    padding: 0 1em;
  }
}

.isHTML5 {
  color: #e44d26;
}

.overflow {
  @media all and (max-width: 575px) {
    overflow: auto;
  }
}

code {
  color: #c0392b;
  background-color: #f5d5d1;
  padding: 1px 5px;
  font-size: 0.9em;
  border-radius: 0.2em;
}
