@import "./vars";

.tags {
  padding: 1em 0;
  @media all and (max-width: 1199px) {
    padding: 1em;
  }
  table {
    code {
      white-space: normal;
    }
  }
  @media all and (min-width: 576px) {
    table:first-of-type {
      tr {
        td:nth-of-type(1) {
          width: 20%;
        }
        td:nth-of-type(2) {
          width: 20%;
        }
        td:nth-of-type(3) {
          width: 100%;
        }
        td:nth-of-type(4) {
          width: 10%;
        }
      }
    }
    table:not(:first-of-type) {
      width: 100%;
      tr {
        td:nth-of-type(1) {
          width: 20%;
        }
        td:nth-of-type(2) {
          width: 80%;
          white-space: nowrap;
        }
        td:nth-of-type(3) {
          width: 10%;
          text-align: center;
        }
      }
    }
  }
  @media all and (max-width: 575px) {
    table {
      tr {
        display: grid;
        grid-template-rows: repeat(4, auto);
        th {
          padding-left: 0;
          display: none;
        }
        td {
          &::before {
            font-size: 0.8em;
            margin-right: 0.5em;
            display: block;
            font-weight: bold;
          }
        }
        td:nth-of-type(1) {
          width: 100%;
          padding-left: 0;
        }
        td:nth-of-type(2) {
          padding-left: 0;
          width: 100%;
        }
        td:nth-of-type(3) {
          padding-left: 0;
          width: 100%;
        }
        td:nth-of-type(4) {
          padding-left: 0;
          width: 100%;
          border-bottom: 1px solid $primary;
        }
      }
    }
    table:first-of-type {
      td:nth-of-type(1) {
        &::before {
          content: "Tag";
        }
      }
      td:nth-of-type(2) {
        display: none;
      }
      td:nth-of-type(3) {
        &::before {
          content: "Desc";
        }
      }
      td:nth-of-type(4) {
        &::before {
          content: "Type";
        }
      }
    }
  }
}

.isHTML5 {
  color: #e44d26;
}

.overflow {
  @media all and (max-width: 575px) {
    overflow: auto;
  }
}

code[class="language-text"] {
  color: #c0392b;
  background-color: #f5d5d1;
  padding: 1px 5px;
  font-size: 0.9em;
  border-radius: 0.2em;
}
