@import "../../scss/vars";

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.item {
  margin: 0;
}

.link {
  color: white;
  text-transform: capitalize;
  display: block;
  padding: calc(1em - 6px) 1em;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  &:hover {
    background-color: #363b47;
    border-bottom-color: $color;
    text-decoration: none;
  }
}

.active {
  background-color: #363b47;
  border-bottom-color: $color;
}
@media all and (min-width: 769px) {
  .nav {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 768px) {
  .headerNav {
    align-self: stretch;
    background-color: $color;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.5) inset,
      0 1px 1px rgba(0, 0, 0, 0.05) inset;
    overflow: hidden;
    max-height: 0;
    transition: all 0.2s linear;
    margin: 0 -1em;
  }
  .item {
    &:last-of-type {
      .link {
        border: none;
      }
    }
  }
  .link {
    padding: calc(0.7em - 6px) 1em;
    border-bottom: 1px solid darken($color, 20%);
  }
}
